.libro-card {
  width: 180px;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  cursor: pointer;
  text-align: center;
  transition: 0.2s;
}

.libro-card:hover {
  transform: scale(1.05);
}

.libro-img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 7px;
}
